.App {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: rgb(178,217,209);
  background: linear-gradient(90deg, rgba(178,217,209,1) 0%, rgb(210 197 230) 50%, rgba(185,190,227,1) 100%);
}

.content {
  width: 1024px;
  padding: 40px;
  display: flex;
  justify-content: center;
}

@media (max-width: 992px)  {
  .content {
    padding: 30px;
    }
}

@media (max-width: 768px)  {
  .content {
    padding: 20px;
    }
}
