@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,1000;1,300;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');

.App {
  font-family: Nunito, "Times New Roman", serif;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: rgb(178,217,209);
  background: linear-gradient(90deg, rgba(178,217,209,1) 0%, rgb(210 197 230) 50%, rgba(185,190,227,1) 100%);
}

.content {
  width: 1024px;
  padding: 40px;
  display: flex;
  justify-content: center;
}

