.LoginForm {
    padding: 50px 0px;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.loginBtn {
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.loginInputs {
    width: 100%;
}
.passwordInput {
    position: relative;
}

.emailError {
    color:#e76262 
}

.passwordError {
    color: #e76262 
}

.loginError {
    color: #e76262;
    padding: 20px 0px;
}

.forgetPasswordLink {
    position: absolute;
    bottom: 70px;
}

.forgetPasswordLink a,
.forgetPasswordLink a:visited {
    text-decoration: none;
    color: rgba(78, 64, 83, 0.72);
}

.forgetPasswordLink a:hover {
    color:rgba(0, 0, 0, 0.72);
}

.passwordIcon {
    width: 24px;
    position: absolute;
    top: 34%;
    right: 0.5%;
    fill: rgba(78, 64, 83, 0.72);;
    transition: 0.4s;
  }
.passwordIcon:hover {
    fill: inherit;
    cursor: pointer;
  }

  @media (max-width: 377px)  {
    .passwordIcon {
        width: 21px;
        top: 37%;
      }
}
  